.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards{
  display: flex;
  justify-content: space-evenly;
}

.intro {
  background-image: url("D:\Travail\Cours\GoMyCode Fullstack JS\GoMyCode\ReactJS\silver-resorts\public\Background.jpg");
}

.formulaire{
  display: flex;
  justify-content: center;
}

.recherche{
  display: flex;
  justify-content: center;
}

.titre {
  color: white;
}

h2 {
  color: #004563;
  font-weight: bold;
}

@import '~mdb-ui-kit/css/mdb.min.css';